body,
.container,
.header,
.info-label,
.info-value,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #5e35b1;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-right: 16px;
}

.w12 {
    color: #fff;
    font-size: 14px;
}

.container {
    max-width: 900px;
    margin: 100px auto 40px auto;
}

h1 {
    font-size: 72px;
    font-size: 72px;
    font-weight: 300;
}

label {
    display: block;
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    height: 45px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    margin-top: 26px;
    height: 45px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    margin: 30px auto 0;

    background-color: #43a047;
    color: #fff;
    border: none;
    height: 45px;
    padding: 0 40px;
    font-size: 16px;
    cursor: pointer;
}

.erro {
    color: red;
    font-size: 14px;
}